@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.search{
    position: absolute;
    right: 10px;
}

.admin-name{
    font-size: 14px;
}

.side{
    background: #FAFFC1;
}

small{
    font-size: 18px;
}

ul{
    font-size: 13px;
    font-weight: 600;
}

ul li a{
    display: inline-block;
    transition: 0.5 ease;
}

ul li a span{
    font-size: 13px;
    font-weight: 600;
}


.add{
    font-size: 14px;
    font-weight: 500;
}

.bh{
    font-size: 10px;
}

.trt{
    color: #ACACAC;
    font-weight: 600;
}

.trr{
    font-size: 12px;
    padding: 0 30px;
    font-weight: 500;
}

.card1{
    background: #F0F9FF;
    border-radius: 8px;
}

.card2{
    background: #FEF6FB;
    border-radius: 8px;
}

.card3{
    background: #FEFBEC;
    border-radius: 8px;
}

.card4{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
    border-radius: 8px;
}

small{
    font-size: 18px;
}

ul{
    font-size: 13px;
    font-weight: 600;
}

ul li a{
    display: inline-block;
    transition: 0.5 ease;
}

ul li a span{
    font-size: 13px;
    font-weight: 600;
}

.user{
    font-weight: 500;
}

.card-text{
    font-size: 23px;
}

h5{
    font-size: 15px;
}

.cap{
    color:#74C1ED;
}

.b_mark{
    color:#EE95C5;
}

@media screen and (min-width: 575px) {
    
    .Sbar{
        height: 100vh;
    }
    
    .btn1{
        width:100%;
    }
}